@model List<Room>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />

    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="/OuterTools/dist/mc-calendar.min.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-body">
        <div class="panel-heading">


            <br />
            @{
                if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        <span>@TempData["error"]</span>
                    </div>
                }
            }
            @foreach (var room in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="row">
                            <center>
                                <img class="card-img-top" src="~/Pictures/IMG_20201105_185120.jpg" alt="..." style="width:300px" />
                            </center>
                        </div>

                        <div class="card-body p-4">
                            <div class="text-center">

                                <h5 class="fw-bolder"></h5>

                                @room.NumberPeople
                            </div>
                            <div class="text-center">

                                <h5 class="fw-bolder"></h5>

                                @room.Price
                            </div>
                            <div class="text-center">
                                <span>@room.Description</span>
                            </div>
                        </div>

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                @Html.ActionLink("Rezervation", "AddToCart", new { id = room.ID }, new { @class = "btn btn-outline-dark" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <script src="/OuterTools/dist/mc-calendar.min.js"></script>

   
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>

</body>
</html>

